body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:#0f172a;
color:white;
}

/* NAVBAR */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(10px);
}

nav a{
color:white;
margin:15px;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:#22c55e;
}

/* HERO */
.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");
background-size:cover;
}

.hero h1{
font-size:50px;
}

.hero button{
margin-top:20px;
padding:15px 30px;
border:none;
background:#22c55e;
border-radius:30px;
color:white;
cursor:pointer;
}

/* FEATURES */
.features{
display:flex;
justify-content:center;
gap:20px;
padding:60px;
flex-wrap:wrap;
}

.features div{
background:#1e293b;
padding:25px;
border-radius:15px;
}

/* DEMO */
#demo{
text-align:center;
padding:60px;
}

/* CHATBOT */
#chatbot{
position:fixed;
bottom:90px;
right:20px;
width:300px;
background:white;
color:black;
border-radius:15px;
overflow:hidden;
}

#chatHeader{
background:#22c55e;
color:white;
padding:10px;
}

#chatBox{
height:200px;
overflow:auto;
padding:10px;
}

/* MIC BUTTON */
#voiceBtn{
position:fixed;
bottom:20px;
right:20px;
background:#22c55e;
padding:18px;
border-radius:50%;
cursor:pointer;
}
